.section-map {
    position: relative;
    padding: 180px 0px;


 

     &::before {
    content: 'V';
   
    top: 100px;
    right: calc(50% + 555px);
    transform: translate(50%, 0%);

    @include decorNumber;

    @include mediaTablet{
        padding: 90px 0px;
    }
  }
}

.section-map__title {
    margin-bottom: 88px;
}

.section-map__map {
    position: relative;
   
     &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        background-color: rgba(31, 25, 25, 0.5);
        transition: 0.3s ease-in;
        opacity: 1;
     

       

    }

    &:hover::before{
        opacity: 0;
        z-index: -1;
       
    }


}
.map {
    height: 358px;
    background-color: #626262;
    
    overflow: hidden;
}

iframe{
    width: 100%;
   
  

   
}