/*Fonts*/


$font-main: 'Raleway', sans-serif; //шрифт для текста в основному
$font-accent: 'Playfair Display',sans-serif; //шрифт для заголовків
$font-secondary: 'Roboto', sans-serif;



/*Colors*/

$dark: #242B33;
$accent-color: #D4C17F;
$white: #fff;
$placeholder-color: #bebebe;
$muted: #e7e7e7;
$footer-bg: #2d343c;


$tablet: 959px